.el-dialog__header{
  background:#97c7bd
}
.el-form-item__label{
  background-color: #ecf5ff;
  height: 32px;
  padding: 0 5px;
  line-height: 30px;
  font-size: 12px;
  color: #409eff;
  border: 1px solid #d9ecff;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  line-height: 32px!important;
}
.el-form-item__content{
  height:auto;
  line-height:32px!important;
  margin-left:90px!important
}
.el-dialog__body,.el-dialog__footer{
  background:#f5f5f5
}
@media screen and (max-width: 767px) {
  .el-dialog{
    width:90%;
    margin: 100px 5% 0 5%
  }

}
